NEXT_PUBLIC_API_URL=https://splendid-enjoyment-production-910a.up.railway.app
VERCEL_OIDC_TOKEN="eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6Im1yay00MzAyZWMx$
VIP_PASSPORT_ADDRESS=0xA72B7F1492A2d8FF20d5886f6AD19267afa9b5DB
CONTRACT_ADDRESS=0xA72B7F1492A2d8FF20d5886f6AD19267afa9b5DB
