DEPLOYER_PRIVATE_KEY=0x03079cd3d3374558fb6b9d607e12c5fda3e82588974e6ef7f5b8f329e54d43eb
ADMIN_WALLET=0x728d344959D1Ba7A2AD45a824D6A7437D34De53b
MINTER_WALLET=0x728d344959D1Ba7A2AD45a824D6A7437D34De53b
ORACLE_WALLET=0x728d344959D1Ba7A2AD45a824D6A7437D34De53b
POLYGON_RPC_URL=https://polygon-mainnet.g.alchemy.com/v2/yX2pJCxtNG-WWzpyde1sx
AMOY_RPC_URL=https://polygon-amoy.g.alchemy.com/v2/yX2pJCxtNG-WWzpyde1sx
POLYGONSCAN_API_KEY=NEHZFF7RDMHGFU8ZJ4PJS2UHEAFSDBKNXP
METADATA_BASE_URI=https://splendid-enjoyment-production-910a.up.railway.app/api/passport/metadata/
