DEPLOYER_PRIVATE_KEY=your_wallet_private_key_here
ADMIN_WALLET=0x_your_multisig_or_admin_wallet
MINTER_WALLET=0x_your_backend_hot_wallet
ORACLE_WALLET=0x_your_ai_oracle_wallet
POLYGON_RPC_URL=https://polygon-mainnet.g.alchemy.com/v2/yX2pJCxtNG-WWzpyde1sx
AMOY_RPC_URL=https://polygon-amoy.g.alchemy.com/v2/yX2pJCxtNG-WWzpyde1sx
POLYGONSCAN_API_KEY=NEHZFF7RDMHGFU8ZJ4PJS2UHEAFSDBKNXP
METADATA_BASE_URI=https://splendid-enjoyment-production-910a.up.railway.app/api/passport/metadata/
